In [1]:
print("Hello, world!")

Hello, world!

In [2]:
print(22)

22

In [3]:
(10 + 2) / 3

4.0

In [4]:
country = 'Türkiye'
age = 26

print(country)
print(age)

Türkiye
26

In [5]:
10**3 == 1000 # Eşdeğerliği kontrol etmek için çift eşittir işaretleri kullanılır.

True

In [6]:
10 ** 3 = 1000

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2085864018.py, line 1)

In [7]:
10 * 3 == 50

False

In [8]:
10 * 3 == age

False

In [9]:
13 * 2 == age

True

In [10]:
if age >= 18:
    print('Yetişkin')
else:
    print('Reşit Değil')

Yetişkin

In [11]:
for number in [1, 2, 3, 4, 5]:
    print(number)

1
2
3
4
5

In [12]:
my_list = [3, 6, 9]

for x in my_list:
    print(x / 3)

1.0
2.0
3.0

In [13]:
def is_adult(age):

    if age >= 18:
        print('Yetişkin')
    else:
        print('Reşit Değil')

In [14]:
is_adult(14)

Reşit Değil

In [15]:
is_adult(24)

Yetişkin

In [16]:
new_list = [20, 25, 10, 5, 8 , 32 , 26]

sorted(new_list)

[5, 8, 10, 20, 25, 26, 32]

Object-oriented programming

In [1]:
magic = 'HOCUS POCUS'
print(type(magic))

<class 'str'>

In [2]:
magic = 'HOCUS POCUS'
magic = magic.swapcase()
magic

'hocus pocus'

In [3]:
magic = magic.replace('cus', 'key')
magic

'hokey pokey'

In [4]:
magic = magic.split()
magic

['hokey', 'pokey']

In [5]:
import pandas as pd
data = [['Mercury', 2440, 0], ['Venus', 6052, 0,], ['Earth', 6371, 1],
        ['Mars', 3390, 2], ['Jupiter', 69911, 80], ['Saturn', 58232, 83],
        ['Uranus', 25362, 27], ['Neptune', 24622, 14]
]

cols = ['Planet', 'radius_km', 'moons']

planets = pd.DataFrame(data, columns=cols)

In [6]:
planets

    Planet  radius_km  moons
0  Mercury       2440      0
1    Venus       6052      0
2    Earth       6371      1
3     Mars       3390      2
4  Jupiter      69911     80
5   Saturn      58232     83
6   Uranus      25362     27
7  Neptune      24622     14

In [7]:
planets.columns

Index(['Planet', 'radius_km', 'moons'], dtype='object')

 Variables and data types

In [8]:
age_list = [34, 25, 23, 19, 29, 38, 12, 45]

In [9]:
max_age = max(age_list)
max_age

45

In [10]:
max_age = 'ninety-nine'
max_age

'ninety-nine'

In [11]:
max_age

'ninety-nine'

Data types and conversions

In [12]:
print(9+11)

20

In [13]:
print("hello " + "world")

hello world

In [14]:
type("A")

str

In [15]:
type(2)

int

In [16]:
type(2.5)

float

In [17]:
print("2 + 2 = " + str(2 + 2))

2 + 2 = 4